#categorias .card {
    border: 3px solid transparent;
    transition: transform 0.3s ease;
    min-height: 347px;
}


#categorias .card:hover {
    transform: scale(1.1);
    z-index: 1;
    position: relative;
    top: -10px;
}

.border-black {
    border-color: black;
}

#categorias  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    opacity: .3;
}

#categorias{
    background: url(../assets/images/background1_direcao_autoescola.png) no-repeat center center fixed;
    background-size: cover;
}


@media (max-width: 480px) {
    
    #categorias  .card{
        min-height: none;
    }

    #categorias .card-img-top {
        height: 50vw;
    }

    #primeira-habilitacao, #categorias {
        background-size: auto 100%;
    }
}

body{
    font-family: "Montserrat", sans-serif;
}

h1, h5{
    font-weight: bolder !important;
}

h3{
    font-weight:500 !important;
}

#header{
    background: url(../assets/images/faixa_pedestre_fade.png) no-repeat center center fixed;
    background-size: cover;
    
}

/* Estilos para o botão flutuante do WhatsApp */
.floating-button {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 2%;
    right: 1.8%;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.floating-button a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.floating-button i {
    color: white;
}

.floating-button:hover {
    background-color: #1e9e34;
}

.floating-button a {
    text-decoration: none;
}

#header .btn{
    background-color: transparent !important;
    border: 2px solid black !important;
    border-radius: 4px;
    color: black !important;
    font-weight: bold;
}

#header .btn:hover{
    background-color: black !important;
    color: white !important;
}

ul {
    list-style-type: none;
}

ul li::before {
    content: "\2713\0020"; /* Unicode para o símbolo de check */
    color: green;
    font-weight: 900;
}

#primeira-habilitacao{
    background: 
        linear-gradient(to right, whitesmoke 0%, whitesmoke 70%), /* Primeiros 70% do background */
        repeating-linear-gradient(to bottom, whitesmoke 0%, whitesmoke 10%, transparent 10%, transparent 20%); /* Últimos 30% do background */
    background-repeat: no-repeat; /* Evita que o primeiro background se repita */
    background-size: 70% 100%, 100% 100%; /* Define o tamanho de cada background */
    background-position: 0 0, 70% 0; /* Define a posição de cada background */

}

hr{
    border-top: 1.8px solid black;
}

#primeira-habilitacao .card{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
    .card-footer{
        background: linear-gradient(-45deg, #004AAD 0%, #004AAD 10%, whitesmoke 10%, whitesmoke 90%, white 90%, white 100%) !important;
        border: 2px solid white !important;
        color: black !important;
        
        h3{
            font-weight: bold !important;
        }
    }

}

#banner{
    background: url(../assets/images/fachada_auto_escola_fade.png) no-repeat center center;
    background-size: cover;
    height: 450px;
    padding: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 90%;
        height: 90%;
    }
    
}

#infoLocalizacao{ 
    background-color: #004AAD;
    color: white;
    font-size: large !important;
    font-weight: 500 !important;
    
    a{
        font-size: larger !important;
    }
}

#localizacao, #localizacao .row{ 
    padding: 0px !important;
}